<?xml version="1.0" encoding="UTF-8"?>

<!--
Controls the whole robot and has to run on the "rosbot" (Raspberry Pi).
-->
<launch>
  <!--
  Setting the hostname of the robot. This is to optional skip hardware setup steps later.
  -->
  <param name="rosbot/hostname" type="String" value="rosbot" />

  <!--
  Setting the diffent speeds for the robot.
  -->
  <param name="rosbot/drivingSpeed" type="int" value="75" />
  <param name="rosbot/turnSpeed"    type="int" value="90" />

  <!-- Testign the Shero RVR -->
  <node name="test" pkg="rosbot" type="test.py" output="screen"/>
</launch>
